{
      "endpoint": "/ged/createfolder",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/ged/createfolder",
          "method": "POST",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/updatefolder",
      "method": "PUT",
      "backend": [
        {
          "url_pattern": "/ged/updatefolder",
          "method": "PUT",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/deletefolder",
      "method": "DELETE",
      "backend": [
        {
          "url_pattern": "/ged/deletefolder",
          "method": "DELETE",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/movefolder",
      "method": "PUT",
      "backend": [
        {
          "url_pattern": "/ged/movefolder",
          "method": "PUT",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/createfile",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/ged/createfile",
          "method": "POST",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/updatefile",
      "method": "PUT",
      "backend": [
        {
          "url_pattern": "/ged/updatefile",
          "method": "PUT",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/deletefile",
      "method": "DELETE",
      "backend": [
        {
          "url_pattern": "/ged/deletefile",
          "method": "DELETE",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/movefile",
      "method": "PUT",
      "backend": [
        {
          "url_pattern": "/ged/movefile",
          "method": "PUT",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/createuser",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/ged/createuser",
          "method": "POST",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/updateuser",
      "method": "PUT",
      "backend": [
        {
          "url_pattern": "/ged/updateuser",
          "method": "PUT",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/creategroup",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/ged/creategroup",
          "method": "POST",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/deletegroup",
      "method": "DELETE",
      "backend": [
        {
          "url_pattern": "/ged/deletegroup",
          "method": "DELETE",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/assignpersontogroup",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/ged/assignpersontogroup",
          "method": "POST",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/removepersonfromgroup",
      "method": "DELETE",
      "backend": [
        {
          "url_pattern": "/ged/removepersonfromgroup",
          "method": "DELETE",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/createsharedlink",
      "method": "POST",
      "backend": [
        {
          "url_pattern": "/ged/createsharedlink",
          "method": "POST",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    },
    {
      "endpoint": "/ged/deletesharedlink",
      "method": "DELETE",
      "backend": [
        {
          "url_pattern": "/ged/deletesharedlink",
          "method": "DELETE",
          "encoding": "json",
          "host": ["{{ env "GED_API" }}"],
          "disable_host_sanitize": false,
          "sd": "static"
        }
      ]
    }